extends ../layout

block content
  .container
    h1.page-header= post.title
    p by #{post.userName}

    ul
      li 집 유형 : #{post.type}
      li 숙소 유형 : #{post.room}
      li 숙박 가능 인원 : #{post.guest}
      li 편의 시설 : #{post.accommodation}
      li 주소 : #{post.address}
      li 이용규칙 : #{post.rule}
      li 요금: #{post.price} / 박

    p 간단한 설명
      p.well(style='white-space:pre;')= post.explanation

    div.form-actions
      a.btn.btn-default(href='/posts/#{post._id}/edit') 수정
      |       
      a.btn.btn-default(href='/index') 목록